<!-- Result tab Form starts -->
<div class="tab-pane active">
  <h3 class="head text-center">{{title}}</h3>

  <!-- <p class="narrow text-center">
      Here is a copy of the information you have entered:
  </p> -->
  <!-- <div class='row'>
      <div class='col-offset-1 col-10 col-sm-offset-3 col-sm-8 col-md-offset-4 col-md-8'>
          <div class="row">
              <div class='col-3 col-sm-2'>
                  <div class="form-group">
                      <label class="form-control-label">Name: </label>
                  </div>
              </div>
              <div class='col-9 col-sm-10'>
                  {{formData.firstName + ' ' + formData.lastName}}
              </div>
          </div>
      </div>
  </div> -->
  <div class="text-center">
      <a class="btn btn-primary ripple light" href="/student/list">Go to Student List</a>
  </div>
</div>
<!-- Result tab Form ends -->
