<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-material">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Master Batch Detail</h5>
        </div>
        <div class="card-block">

          <div class="form-group form-default">
            <input type="text" name="name" class="form-control" formControlName="name" required="">
            <small class="messages text-danger" *ngIf="form.controls.name.errors?.required 
            && (form.controls.name.dirty || form.controls.name.touched) || 
            (submitted && form.controls.name.errors?.required)">Master Batch Name Required!</small>
            <span class="form-bar"></span>
            <label class="float-label">Master Batch Name</label>
          </div>
          <div class="form-group form-default">
            <input type="number" name="displayOrder" class="form-control" formControlName="displayOrder" required="">
            <small class="messages text-danger" *ngIf="form.controls.displayOrder.errors?.required 
            && (form.controls.displayOrder.dirty || form.controls.displayOrder.touched) || 
            (submitted && form.controls.displayOrder.errors?.required)">Display Order Reuired!</small>
            <span class="form-bar"></span>
            <label class="float-label">Display Order</label>
          </div>
          <div class="form-group form-default">
            <select class="select" formControlName="activeStatus" class="form-control form-control-Inverse ">
              <!-- <option *ngFor="let data of states" [ngValue]="data.activeStatus">{{data.name}}</option> -->
              <option value="">Select Status</option>
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">InActive</option>
              <option [ngValue]="3">Suspended</option>
              <option [ngValue]="4">Deleted</option>
            </select>
            <small class="messages text-danger" *ngIf="form.controls.activeStatus.errors?.required 
            && (form.controls.activeStatus.dirty || form.controls.activeStatus.touched) || 
            (submitted && form.controls.activeStatus.errors?.required)">Status Reuired!</small>
            <span class="form-bar"></span>
            <span class="form-bar"></span>
            <label class="float-label">Status</label>
          </div>

          <div class="form-group form-default">
            <button type="submit" class="btn btn-primary ripple light pull-right" > Submit </button>
          </div>
          
        </div>
      </div>
    </div>


  </div>
</form>