<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <section id="ngx" class="ngx-form-wizard">
        <app-card [title]="'Employee Registration Form'">
          <div class="board">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-material">

              <input type="hidden" formControlName="employeeId">
              <div class="tab-pane active">
                <h4 class="head text-center">Personal Details</h4><br /><br />
                <div class="row">

                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input disabled type="text" name="employeeCode" class="form-control" formControlName="employeeCode" >
                      <small class="messages text-danger" *ngIf="form.controls.employeeCode.errors?.required 
                                      && (form.controls.employeeCode.dirty || form.controls.employeeCode.touched) || 
                                      (submitted && form.controls.employeeCode.errors?.required)">Employee Id
                        Required</small>
                      <span class="form-bar"></span>  
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="bioMatricId" class="form-control" formControlName="bioMatricId" >
                      <small class="messages text-danger" *ngIf="form.controls.bioMatricId.errors?.required 
                                      && (form.controls.bioMatricId.dirty || form.controls.bioMatricId.touched) || 
                                      (submitted && form.controls.bioMatricId.errors?.required)">BioMatric Id
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">BioMatric Id</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="title" name="title" class="form-control" formControlName="title" >
                      <small class="messages text-danger" *ngIf="form.controls.title.errors?.required 
                          && (form.controls.title.dirty || form.controls.title.touched) || 
                          (submitted && form.controls.title.errors?.required)">Title Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Title</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="firstName" class="form-control" formControlName="firstName" >
                      <small class="messages text-danger" *ngIf="form.controls.firstName.errors?.required 
                          && (form.controls.firstName.dirty || form.controls.firstName.touched) || 
                          (submitted && form.controls.firstName.errors?.required)">First Name Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">First Name</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="middleName" class="form-control" formControlName="middleName">
                      <small class="messages text-danger" *ngIf="form.controls.middleName.errors?.required 
                          && (form.controls.middleName.dirty || form.controls.middleName.touched) || 
                          (submitted && form.controls.middleName.errors?.required)">Middle Name Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Middle Name</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="lastName" class="form-control" formControlName="lastName" >
                      <small class="messages text-danger" *ngIf="form.controls.lastName.errors?.required 
                          && (form.controls.lastName.dirty || form.controls.lastName.touched) || 
                          (submitted && form.controls.lastName.errors?.required)">Last Name Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Last Name</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="email" name="email" class="form-control" formControlName="email" >
                      <small class="messages text-danger" *ngIf="form.controls.email.errors?.required 
                          && (form.controls.email.dirty || form.controls.email.touched) || 
                          (submitted && form.controls.email.errors?.required)">Email Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Email</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="date" name="dob" class="form-control" formControlName="dob">
                      <small class="messages text-danger" *ngIf="form.controls.dob.errors?.required 
                                  && (form.controls.dob.dirty || form.controls.dob.touched) || 
                                  (submitted && form.controls.dob.errors?.required)">Date Of Birth Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Date Of Birth</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-primary form-radio">
                      <div class="radio radio-inline">
                        <label>
                          <input type="radio" [value]="1" name="gender" formControlName="gender">
                          <i class="helper"></i>Male
                        </label>
                      </div>
                      <div class="radio radio-inline">
                        <label>
                          <input type="radio" [value]="2" name="gender" formControlName="gender">
                          <i class="helper"></i>Female
                        </label>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <select class="select" formControlName="religion" class="form-control form-control-Inverse"
                        >
                        <!-- <option [ngValue]="null">-- Select UID Type --</option> -->
                        <option [ngValue]="1">Muslim</option>
                        <option [ngValue]="2">Hindu</option>
                        <option [ngValue]="3">Sikh</option>
                        <option [ngValue]="4">Other</option>
                      </select>
                      <small class="messages text-danger" *ngIf="form.controls.religion.errors?.required 
                                  && (form.controls.religion.dirty || form.controls.religion.touched) || 
                                  (submitted && form.controls.religion.errors?.required)">Religion Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Religion</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <select class="select" formControlName="castCategory" class="form-control form-control-Inverse">
                        <!-- <option [ngValue]="null">-- Select UID Type --</option> -->
                        <option [ngValue]="1">General</option>
                        <option [ngValue]="2">OBC</option>
                        <option [ngValue]="3">SC</option>
                        <option [ngValue]="4">ST</option>
                        <option [ngValue]="5">Other</option>
                      </select>
                      <small class="messages text-danger" *ngIf="form.controls.castCategory.errors?.required 
                                  && (form.controls.castCategory.dirty || form.controls.castCategory.touched) || 
                                  (submitted && form.controls.castCategory.errors?.required)">Cast Category
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Cast Category</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <select class="select" formControlName="maritalStatus" class="form-control form-control-Inverse" >
                        <!-- <option [ngValue]="null">-- Select UID Type --</option> -->
                        <option [ngValue]="1">UnMarried</option>
                        <option [ngValue]="2">Married</option>
                        <option [ngValue]="3">Divorced</option>
                        <option [ngValue]="4">Other</option>
                      </select>
                      <small class="messages text-danger" *ngIf="form.controls.maritalStatus.errors?.required 
                                  && (form.controls.maritalStatus.dirty || form.controls.maritalStatus.touched) || 
                                  (submitted && form.controls.maritalStatus.errors?.required)">Marital Status
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Marital Status</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="date" name="anniversaryDate" class="form-control" formControlName="anniversaryDate">
                      <small class="messages text-danger" *ngIf="form.controls.anniversaryDate.errors?.required 
                                  && (form.controls.anniversaryDate.dirty || form.controls.anniversaryDate.touched) || 
                                  (submitted && form.controls.anniversaryDate.errors?.required)">Anniversary Date
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Anniversary Date</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <select class="select" formControlName="uidType" class="form-control form-control-Inverse" >
                        <!-- <option [ngValue]="null">-- Select UID Type --</option> -->
                        <option [ngValue]="1">Aadhar</option>
                        <option [ngValue]="2">PAN</option>
                        <option [ngValue]="3">VoterID</option>
                        <option [ngValue]="4">Other</option>
                      </select>
                      <small class="messages text-danger" *ngIf="form.controls.uidType.errors?.required 
                                  && (form.controls.uidType.dirty || form.controls.uidType.touched) || 
                                  (submitted && form.controls.uidType.errors?.required)">UID Type Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">UID Type</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="uidNumber" class="form-control" formControlName="uidNumber" >
                      <small class="messages text-danger" *ngIf="form.controls.uidNumber.errors?.required 
                                  && (form.controls.uidNumber.dirty || form.controls.uidNumber.touched) || 
                                  (submitted && form.controls.uidNumber.errors?.required)">UID Number
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">UID Number</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <select class="select" formControlName="bloodGroup" class="form-control form-control-Inverse">
                        <!-- <option [ngValue]="null">-- Select UID Type --</option> -->
                        <option [ngValue]="1">A+</option>
                        <option [ngValue]="2">A-</option>
                        <option [ngValue]="3">B+</option>
                        <option [ngValue]="4">B-</option>
                        <option [ngValue]="5">O+</option>
                        <option [ngValue]="6">O-</option>
                        <option [ngValue]="7">AB+</option>
                        <option [ngValue]="8">AB-</option>
                      </select>
                      <small class="messages text-danger" *ngIf="form.controls.bloodGroup.errors?.required 
                                  && (form.controls.bloodGroup.dirty || form.controls.bloodGroup.touched) || 
                                  (submitted && form.controls.bloodGroup.errors?.required)">Blood Group
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Blood Group</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <select class="select" formControlName="handicapStatus" class="form-control form-control-Inverse"
                        >
                        <!-- <option [ngValue]="null">-- Select UID Type --</option> -->
                        <option [ngValue]="1">Partial</option>
                        <option [ngValue]="2">Full</option>
                        <option [ngValue]="3">Other</option>
                      </select>
                      <small class="messages text-danger" *ngIf="form.controls.handicapStatus.errors?.required 
                                  && (form.controls.handicapStatus.dirty || form.controls.handicapStatus.touched) || 
                                  (submitted && form.controls.handicapStatus.errors?.required)">Handicap Status
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Handicap Status</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="medicalCondition" class="form-control" formControlName="medicalCondition"
                        >
                      <small class="messages text-danger" *ngIf="form.controls.medicalCondition.errors?.required 
                                  && (form.controls.medicalCondition.dirty || form.controls.medicalCondition.touched) || 
                                  (submitted && form.controls.medicalCondition.errors?.required)">medicalCondition
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Medical Condition (If any)</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="phoneNumber" class="form-control" formControlName="phoneNumber" >
                      <small class="messages text-danger" *ngIf="form.controls.phoneNumber.errors?.required 
                                  && (form.controls.phoneNumber.dirty || form.controls.phoneNumber.touched) || 
                                  (submitted && form.controls.phoneNumber.errors?.required)">Phone Number
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Phone Number</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="address1" class="form-control" formControlName="address1" >
                      <small class="messages text-danger" *ngIf="form.controls.address1.errors?.required 
                                  && (form.controls.address1.dirty || form.controls.address1.touched) || 
                                  (submitted && form.controls.address1.errors?.required)">Address 1
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Address 1 </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="address2" class="form-control" formControlName="address2" >
                      <small class="messages text-danger" *ngIf="form.controls.address2.errors?.required 
                                  && (form.controls.address2.dirty || form.controls.address2.touched) || 
                                  (submitted && form.controls.address2.errors?.required)">Address 2
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Address 2</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="city" class="form-control" formControlName="city" >
                      <small class="messages text-danger" *ngIf="form.controls.city.errors?.required 
                                  && (form.controls.city.dirty || form.controls.city.touched) || 
                                  (submitted && form.controls.city.errors?.required)">City Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">City</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <select  class="select" formControlName="countryId"
                        class="form-control form-control-Inverse ">
                        <!-- <option [ngValue]="null">-- Select UID Type --</option> -->
                        <option [ngValue]="1" selected>India</option>
                      </select>
                      <small class="messages text-danger" *ngIf="form.controls.countryId.errors?.required 
                                && (form.controls.countryId.dirty || form.controls.countryId.touched) || 
                                (submitted && form.controls.countryId.errors?.required)">Country Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Country</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <select class="select" formControlName="stateId" class="form-control form-control-Inverse" >
                        <!-- <option [ngValue]="null">-- Select UID Type --</option> -->
                        <option [ngValue]="1">Haryana</option>
                        <option [ngValue]="2">Delhi</option>
                        <option [ngValue]="3">Other</option>
                      </select>
                      <small class="messages text-danger" *ngIf="form.controls.stateId.errors?.required 
                                  && (form.controls.stateId.dirty || form.controls.stateId.touched) || 
                                  (submitted && form.controls.stateId.errors?.required)">State Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">State</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="pinCode" class="form-control" formControlName="pinCode" >
                      <small class="messages text-danger" *ngIf="form.controls.pinCode.errors?.required 
                                  && (form.controls.pinCode.dirty || form.controls.pinCode.touched) || 
                                  (submitted && form.controls.pinCode.errors?.required)">Postal Code Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Postal Code</label>
                    </div>
                  </div>
  
                  
                  
  
                </div>
              </div>

              <div class="tab-pane active">
                <h4 class="head text-center">Bank Account Details</h4><br /><br />
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="name" class="form-control" formControlName="name" >
                      <small class="messages text-danger" *ngIf="form.controls.name.errors?.required 
                                      && (form.controls.name.dirty || form.controls.name.touched) || 
                                      (submitted && form.controls.name.errors?.required)">Bank Name
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Bank Name</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="account" class="form-control" formControlName="account" >
                      <small class="messages text-danger" *ngIf="form.controls.account.errors?.required 
                                      && (form.controls.account.dirty || form.controls.account.touched) || 
                                      (submitted && form.controls.account.errors?.required)">Account Number
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Account Number</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="ifsc" class="form-control" formControlName="ifsc" >
                      <small class="messages text-danger" *ngIf="form.controls.ifsc.errors?.required 
                                      && (form.controls.ifsc.dirty || form.controls.ifsc.touched) || 
                                      (submitted && form.controls.ifsc.errors?.required)">IFSC Code
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">IFSC Code</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="pan" class="form-control" formControlName="pan" >
                      <small class="messages text-danger" *ngIf="form.controls.pan.errors?.required 
                                      && (form.controls.pan.dirty || form.controls.pan.touched) || 
                                      (submitted && form.controls.pan.errors?.required)">PAN Card Number
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">PAN Car Number</label>
                    </div>
                  </div>
                  
                </div>
              </div>

              <div class="tab-pane active">
                <h4 class="head text-center">Employer Purpose Details</h4><br /><br />
                <div class="row">
                  
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="board" class="form-control" formControlName="board" >
                      <small class="messages text-danger" *ngIf="form.controls.board.errors?.required 
                                      && (form.controls.board.dirty || form.controls.board.touched) || 
                                      (submitted && form.controls.board.errors?.required)">Board
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Board</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="number" name="experience" max="99" class="form-control" formControlName="experience" >
                      <small class="messages text-danger" *ngIf="form.controls.experience.errors?.required 
                                      && (form.controls.experience.dirty || form.controls.experience.touched) || 
                                      (submitted && form.controls.experience.errors?.required)">Experience
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Experience</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <select class="select" formControlName="masterEmployeeId" class="form-control form-control-Inverse ">
                        <!-- <option *ngFor="let data of states" [ngValue]="data.masterEmployeeId">{{data.name}}</option> -->
                        <option *ngFor="let data of masgterEmployee" [ngValue]="data.masterEmployeeId">{{data.name}}</option>
                      </select>
                      <small class="messages text-danger" *ngIf="form.controls.masterEmployeeId.errors?.required 
                  && (form.controls.masterEmployeeId.dirty || form.controls.masterEmployeeId.touched) || 
                  (submitted && form.controls.masterEmployeeId.errors?.required)">JOB Specialization Required!</small>
                      <span class="form-bar"></span>
                      <label class="float-label">JOB Specialization </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="date" name="appointmentDate" class="form-control" formControlName="appointmentDate">
                      <small class="messages text-danger" *ngIf="form.controls.appointmentDate.errors?.required 
                                      && (form.controls.appointmentDate.dirty || form.controls.appointmentDate.touched) || 
                                      (submitted && form.controls.appointmentDate.errors?.required)">Appointment Date
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Appointment Date</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="date" name="joiningDate" class="form-control" formControlName="joiningDate">
                      <small class="messages text-danger" *ngIf="form.controls.joiningDate.errors?.required 
                                      && (form.controls.joiningDate.dirty || form.controls.joiningDate.touched) || 
                                      (submitted && form.controls.joiningDate.errors?.required)">Joining Date
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Joining Date</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <select class="select" formControlName="masterDepartmentId" class="form-control form-control-Inverse ">
                        <!-- <option *ngFor="let data of states" [ngValue]="data.masterDepartmentId">{{data.name}}</option> -->
                        <option *ngFor="let data of masterDepartment" [ngValue]="data.masterDepartmentId">{{data.name}}</option>
                      </select>
                      <small class="messages text-danger" *ngIf="form.controls.masterDepartmentId.errors?.required 
                  && (form.controls.masterDepartmentId.dirty || form.controls.masterDepartmentId.touched) || 
                  (submitted && form.controls.masterDepartmentId.errors?.required)">Job Type Required!</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Job Type</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="jobTitle" class="form-control" formControlName="jobTitle" >
                      <small class="messages text-danger" *ngIf="form.controls.jobTitle.errors?.required 
                                      && (form.controls.jobTitle.dirty || form.controls.jobTitle.touched) || 
                                      (submitted && form.controls.jobTitle.errors?.required)">Job Title
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Job Title</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="qualification" class="form-control" formControlName="qualification"
                        >
                      <small class="messages text-danger" *ngIf="form.controls.qualification.errors?.required 
                                      && (form.controls.qualification.dirty || form.controls.qualification.touched) || 
                                      (submitted && form.controls.qualification.errors?.required)">Degree
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Degree</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-default">
                      <input type="text" name="employeeReferral" class="form-control" formControlName="employeeReferral" >
                      <small class="messages text-danger" *ngIf="form.controls.employeeReferral.errors?.required 
                                      && (form.controls.employeeReferral.dirty || form.controls.employeeReferral.touched) || 
                                      (submitted && form.controls.employeeReferral.errors?.required)">Employee Referral
                        Required</small>
                      <span class="form-bar"></span>
                      <label class="float-label">Employee Referral</label>
                    </div>
                  </div>
                  <div class="form-group form-default">
                    <select class="select" formControlName="activeStatus" class="form-control form-control-Inverse ">
                      <!-- <option *ngFor="let data of states" [ngValue]="data.activeStatus">{{data.name}}</option> -->
                      <option value="">Select Status</option>
                      <option [ngValue]="1">Active</option>
                      <option [ngValue]="2">InActive</option>
                      <option [ngValue]="3">Suspended</option>
                      <option [ngValue]="4">Deleted</option>
                    </select>
                    <small class="messages text-danger" *ngIf="form.controls.activeStatus.errors?.required 
                    && (form.controls.activeStatus.dirty || form.controls.activeStatus.touched) || 
                    (submitted && form.controls.activeStatus.errors?.required)">Status Reuired!</small>
                    <span class="form-bar"></span>
                    <span class="form-bar"></span>
                    <label class="float-label">Status</label>
                  </div>
  
                </div>
              </div>


              <div class="form-group form-default">
                <button  class="btn btn-primary ripple light pull-right" (click)="employeeList()" style="margin-top: 10px;"> View </button>
              </div>
              <div class="form-group form-default">
                <button type="submit"  class="btn btn-primary ripple light pull-right" style="margin-right: 5px;"> Submit </button>
              </div>
             
            </form>

          </div>
        </app-card>
      </section>
    </div>
  </div>
</div>