<div class="page-body">
  <div class="row">
    <div class="col-sm-12">

      <div *ngIf="showSuccess" class="alert alert-success background-success ripple light">
        <button type="button" class="close" appRemoveAlert>
          <i class="icofont icofont-close-line-circled text-white"></i>
        </button>
        <strong>Success! </strong> Record Deleted <code> </code>
      </div>
  
      <div *ngIf="showError" class="alert alert-danger background-danger ripple light">
        <button type="button" class="close" appRemoveAlert>
          <i class="icofont icofont-close-line-circled text-white"></i>
        </button>
        <strong>Error!</strong> Something Went Wrong <code> </code>
      </div>
  
      <div *ngIf="loading" class="loader-block">
        <svg id="loader2" viewBox="0 0 100 100">
          <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
        </svg>
      </div>

      <app-card [title]="'School List'">
        <div class="dt-responsive" *ngIf="data">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
              <div>
                <label class="label-control">Show
                  <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
              <div style="text-align: right;">
                <label>Search:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>
            <div class="col-md-1" style="text-align: right;">
              <button class="btn btn-primary" (click)="addSchool()">Add</button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-sm table-styling  table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
              <tr class="table-primary">
                <th>
                  <mfDefaultSorter  by="schoolName">School Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="schoolCode">Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="registrationNumber">Registration</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="ownerName">Owner Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="ownerContactNo">Contact No</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="address1">Address</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="city">City</mfDefaultSorter>
                </th>
                
                <th>
                  Logo
                </th>
                <th>Action</th>
              </tr>
              <tr>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of mf.data">
                <td>{{item.schoolName}}</td>
                <td>{{item.schoolCode}}</td>
                <td>{{item.registrationNumber}}</td>
                <td>{{item.ownerName}}</td>
                <td>{{item.ownerContactNo}}</td>
                <td>{{item.address1}}</td>
                <td>{{item.city}}</td>
                <td><img src="assets/images/widget/PHONE1.jpg" alt="" class="img-fluid"></td>
                <td><a [routerLink]="['/school/update', item.schoolId]"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="deleteRecord(item.schoolId)"><i class="fa fa-trash f-16"></i></a></td>
              </tr>
              </tbody>
              <tfoot>
                <tr class="table-primary">
                  <th>School Name</th>
                  <th>School Code</th>
                  <th>Registration</th>
                  <th>Owner Name</th>
                  <th>Contact No</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Logo</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td colspan="9">
                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
                </tfoot>
            </table>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>
