<div class="page-body">
  <div class="row">
    <div class="col-sm-12" *ngIf="pendingFeeData">
      <app-card [title]="'Pending Fee'" [blockClass]="'box-list m-t-20'">
        <div class="row">
          <div class="col-lg-2">
            <div class="p-20 z-depth-0 waves-effect" placement="bottom" ngbTooltip="Student Fee Category">
              <p class="text-sm-center">Fee Category <code>{{pendingFeeData.feeCategory}}</code></p>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="p-20 z-depth-1 waves-effect" placement="bottom" ngbTooltip="Student Bus Stop Name">
              <p class="text-sm-center ">Bus Stop Name <code>{{pendingFeeData.busStopName}}</code></p>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="p-20 z-depth-2 waves-effect" placement="bottom" ngbTooltip="Pending Fee Month Name">
              <p class="text-sm-center">Month Name <code>{{pendingFeeData.monthName | ShortenText}}</code></p>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="p-20 z-depth-3 waves-effect" placement="bottom" ngbTooltip="Total Due Fee">
              <p class="text-sm-center">Total Due <code>&#8377; {{pendingFeeData.totalDue}}</code></p>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="p-20 z-depth-3 waves-effect" placement="bottom" ngbTooltip="Last Submit Date of Fee">
              <p class="text-sm-center">Last Payment Date <code>{{pendingFeeData.lastDueDate | date:'medium'}}</code>
              </p>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="p-20 z-depth-3 waves-effect" placement="bottom" ngbTooltip=".z-depth-3">
              <button type="submit" class="btn btn-primary ripple light pull-right"> Payment </button>
            </div>
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-sm-12">
      <app-card [title]="'Payment History'">
        <div class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
              <div>
                <label class="label-control">Show
                  <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
              <div style="text-align: right;">
                <label>Search:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div> -->
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-sm table-styling  table-bordered full-data-table"
              [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
              [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr class="table-primary">
                  <th>
                    <mfDefaultSorter by="receiptId">Receipt Id</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="paymentMode">Payment Mode</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="monthName">Month Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="totalAmount">Total Amount</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="discount">Discount</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="netAmount">Net Amount</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="paidAmount">Paid Amount</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="due">Due</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="advance">Advance</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="paymentDate">Payment Date</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="receiptBy">Receipt By</mfDefaultSorter>
                  </th>
                </tr>
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mf.data; let i = index">
                  <td> {{i+1}}</td>
                  <td>{{item.receiptId}}</td>
                  <td>{{item.paymentMode}}</td>
                  <td>{{item.monthName | ShortenText}}</td>
                  <td>{{item.totalAmount | currency:'INR'}}</td>
                  <td>{{item.discount | currency:'INR'}}</td>
                  <td>{{item.netAmount | currency:'INR'}}</td>
                  <td>{{item.paidAmount | currency:'INR'}}</td>
                  <td>{{item.due | currency:'INR'}}</td>
                  <td>{{item.advance | currency:'INR'}}</td>
                  <td>{{item.paymentDate | date:'medium'}}</td>
                  <td>{{item.receiptBy}}</td>
                  <!-- <td><a [routerLink]="['/class/update', item.classId]">
                  <i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="deleteRecord(item.classId)"><i class="fa fa-trash f-16"></i></a></td> -->
                </tr>
              </tbody>
              <tfoot>
                <tr class="table-primary">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <th>{{totalAmount | currency:'INR'}}</th>
                  <th>{{totalDiscount | currency:'INR'}}</th>
                  <th>{{totalNetAmount | currency:'INR'}}</th>
                  <th>{{TotalPaidAmount | currency:'INR'}}</th>
                  <th>{{TotalDueAmount | currency:'INR'}}</th>
                  <th>{{TotalAdvance | currency:'INR'}}</th>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="14">
                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </app-card>
    </div>

  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>